body {
  font-family: Georgia, serif;
  background-color: rgb(167, 223, 235);
  text-emphasis-color: #7a0eed;
}

.form-control {
  background-color: #b2daf7;
  border-color: #370fc6;
  border-style: dotted;
  padding: 20px 40px;
  text-align: left;
  text-decoration: none;
  display: block;
  font-size: 15px;
}

.form-control:hover {
  color: rgb(180, 25, 227);
  background-color: #29b1f0;
}
.button {
  color: #422a91;
  text-align: center;
  font-size: 15px;
  background: rgb(119, 178, 236);
  border: dotted;
}

.btn:hover {
  color: rgb(51, 12, 192);
  font-weight: bold;
}

.btn-primary {
  text-emphasis-color: #29057e;
  background-color: #300564;
  border-style: dotted;
  border-color: #2e056e;
}

.btn-primary:hover {
  background-color: #257b87;
  border-color: #2e1d9e;
}

h1 {
  color: #45167f;
  font-size: 18px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: #743fce;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 650px;
  max-height: 900px;
  margin: 30px auto;
  margin-bottom: 0;
}

.weather-app {
  padding: 30px;
  border: 4px groove #210665;
  border-radius: 5px;
}

.overview {
  margin-bottom: 25px;
}

.weather-temperature img {
  margin-right: 10px;
  height: 70px;
  width: 70px;
}

.weather-temperature strong {
  color: #470c6e;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 70x;
  top: -34px;
}

.weather-temperer .weather-temperature:hover {
  color: #ffffff;
  cursor: default;
}

.weather-forecast {
  margin-top: 10px;
}

.weather-forecast h3 {
  color: #031102;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.i weather-temperature {
  color: #061105;
}

.weather-forecast-temperature {
  text-align: center;
  color: #440c8d;
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}

a {
  color: #761599;
  text-align: center;
}

a:hover {
  color: white;

  text-shadow: 0 0 20px #598afa, 0 0 30px #598afa, 0 0 40px #598afa,
    0 0 50px #598afa, 0 0 60px #598afa, 0 0 70px #598afa, 0 0 80px #598afa;
  color: black;
  background-color: #598afa;
}

small {
  color: grey;
}

.float-left {
  color: white;
}
